@font-face {
  font-family: quickL;
  src: url("../../../src//assets//fonts/Quicksand-Light.ttf");
}
@font-face {
  font-family: quickSB;
  src: url("../../../src//assets//fonts/Quicksand-SemiBold.ttf");
}
@font-face {
  font-family: julian;
  src: url("../../../src//assets//fonts/JuliusSansOne-Regular.ttf");
}
